extends /layouts/template.pug
block main
  .container 
    .row 
      .col-12 
        h1 About us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veritatis quaerat nesciunt ipsa quod unde quidem? Omnis iusto aliquid repellendus, dicta porro, dolore deleniti animi veniam officiis voluptates illum quia?