extends /layouts/template.pug
block main
  .container
    h1.mb-5 Welcome to Vite Starter for Web designers.
    p.alert.alert-success 
      i.fa-solid.fa-triangle-exclamation 
      | &nbsp; <b>Bootstrap</b>, <b>Pugjs</b> and <b>Font-awesome</b>.
    .row 
      .col-4.text-start
        img(src="/src/assets/Bootstrap_logo.svg", alt="bootstrap 5", width="100px")
      .col-4.text-center
        img(src="/src/assets/pug.svg", alt="Pugjs", width="100px")
      .col-4.text-end
        img(src="/src/assets/fontawesome-1.svg", alt="Font awesome 6", width="100px")
      .col-12.text-center.p-4 
        // Button trigger modal
        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
          i.fa-solid.fa-eye
          | &nbsp; Check components
        // Modal
        #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h1#exampleModalLabel.modal-title.fs-5 Modal title
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                | ...
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes