doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/src/styles/main.scss")
  body
    include ../components/nav.pug
    block main
    footer 
      script(type="module", src="/src/js/main.js") 